<h1>配送先登録/一覧</h1>
<%= form_with model: @adress, url:addresses_path do |f| %>
<table>
  <tr>
    <td>郵便番号(ハイフンなし)</td>
    <td><%= f.text_field :postal_code %></td>
  </tr>
  <tr>
    <td>住所</td>
    <td><%= f.text_area :address %></td>
  </tr>
  <tr>
    <td>宛名</td>
    <td><%= f.text_field :name %></td>
    <td><%= f.submit '新規登録' %></td>
  </tr>
</table>
<% end %>

<table>
  <thead>
    <tr>
      <td>郵便番号</td>
      <td>住所</td>
      <td>宛名</td>
      <td></td>
    </tr>
  </thead>
  <% @addresses.each do |addresses| %>
  <tbody>
    <tr>
      <td><%= addresses.postal_code %></td>
      <td><%= addresses.address %></td>
      <td><%= addresses.name %></td>
      <td>
        <%= link_to "編集する", edit_address_path(addresses.id) %>
        <%= link_to "削除する", address_path(addresses.id), method: :delete %>
      </td>
    </tr>
  </tbody>
</table>
<% end %>