<div class="container cart_item_index">
  <h1>ショッピングカート</h1>
  <p class="text-right"><%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, class:"btn btn-danger" %></p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-lg-4">商品名</th>
        <th class="col-lg-2">単価(税込)</th>
        <th class="col-lg-2">数量</th>
        <th class="col-lg-2">小計</th>
        <th class="col-lg-2"></th>
      </tr>
    </thead>

    <tbody>
    <% @cart_items.each do |c_item| %>
      <tr>
        <td><%= c_item.item.name %></td>
        <td><%= c_item.item.with_tax_price.to_s(:delimited) %></td>
        <td>
          <%= form_with model:c_item, url: cart_item_path(c_item.id), method: :patch do |f| %>
            <%= f.select :amount, *[1..20] %>
            <%= f.submit '変更', class:"btn btn-success" %>
          <% end %>
        </td>
        <td><%= c_item.subtotal.to_s(:delimited) %></td>
        <td><%= link_to "削除する", cart_item_path(c_item.id), method: :delete, class:"btn btn-danger" %></td>
        <% @total_price += c_item.subtotal %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="d-flex">
    <%= link_to "買い物を続ける", root_path, class:"btn btn-primary col-lg-2 align-self-center" %>
    <div class="col-lg-6"></div>
    <table class="table table-bordered total_price">
      <tr>
        <td class="col-lg-2">合計金額</td>
        <td class="col-lg-2"><%= @total_price.to_s(:delimited) %></td>
        <%= form_with model:@order, url:new_order_path do |f| %>
          <%= f.hidden_field :total_payment, :value => (800+@total_price).to_s(:delimited) %>
        <% end %>
      </tr>
    </table>
  </div>
  <div class="text-center info_enter_btn">
    <%= link_to "情報入力に進む", new_order_path, class:"btn btn-success" %>
  </div>
</div>