<h2>ログイン</h2>
<h3>会員の方はこちらからログイン</h3>
<%= form_with model: @customer, url: customer_session_path do |f| %>
<table>
  <tr><div class="field">
    <td><%= f.label :email, "メールアドレス" %></td>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
  </div></tr>

  <tr><div class="field">
    <td><%= f.label :password, "パスワード" %></td>
    <td><%= f.password_field :password, autocomplete: "current-password" %></td>
  </div></tr>

  <tr><div class="actions">
    <td></td>
    <td><%= f.submit "ログイン" %></td>
  </div></tr>
</table>
<% end %>

<%= render "public/shared/links" %>
