<h1>商品一覧<span>(全<%= @items.count %>件)</span></h1>
<% @items.each do |i| %>

<div>
  <%= link_to item_path(i.id) do %>
    <%= image_tag i.get_image(100,200) %>
    <%= i.name %>
  <% end %>
  <span>￥</span><%= i.price %>
</div>
<% end %>
<%= paginate @items %>