<div class="container item_show">
  <div class="d-flex justify-content-center">
    <%= image_tag @item.get_image(300,300) %>
    <div class="show_continer align-self-end">
      <h2><%= @item.name %></h2>
      <%= @item.introduction %><br>
      <h3><span>¥</span><%= (@item.price*1.1).floor %></h3><span>税込</span>
      <%= form_with model: @cart_item, url: cart_items_path do |f| %>
        <%= f.select :amount, *[1..100] %>
        <% if customer_signed_in? %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.hidden_field :customer_id, :value => current_customer.id %>
          <%= f.submit 'カートに入れる', class:"btn btn-success" %>
        <% else %>
          <%= link_to "カートに入れる", new_customer_session_path, class:"btn btn-success" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>