<div class="container item_show">
  <div class="row justify-content-center">
    <%= image_tag @item.get_image(300,300) %>
    <div class="show_continer">
    <h2><%= @item.name %></h2>
    <%= @item.introduction %><br>
    <h3><span>¥</span><%= (@item.price*1.1).floor %></h3><span>税込</span>
    <%= form_with model: @cart_item, url: cart_items_path do |f| %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.hidden_field :customer_id, :value => current_customer.id %>
      <%= f.select :amount, *[1..100] %>
      <%= f.submit 'カートに入れる', class:"btn btn-success" %>
    <% end %>
    <div class="">
  </div>
</div>