<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <script src="https://kit.fontawesome.com/a018ff0d7a.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

       <div class="d-flex">
         <div class="mr-auto p-2"><!--一つだけ左に残す　"mr-auto p-2"-->
           <% if admin_signed_in? %>
             <%= link_to admin_path do %>
               <%= image_tag 'logo.png', size: '150x75' %>
             <% end %>
           <% else %>
             <%= link_to root_path do %>
               <%= image_tag 'logo.png', size: '150x75' %>
             <% end %>
           <% end %>
         </div>
         <% if admin_signed_in? %>
          <div class="p-2 align-self-center btn btn-outline-secondary"><li><%= link_to "商品一覧", admin_items_path %></li></div><!--残りを右へ　"p-2"-->
          <div class="p-2 align-self-center btn btn-outline-secondary"><li><%= link_to "会員一覧", admin_customers_path %></li></div>
          <div class="p-2 align-self-center btn btn-outline-secondary"><li><%= link_to "ジャンル一覧", admin_genres_path %></li></div>
          <div class="p-2 align-self-center btn btn-outline-secondary"><li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li></div>

         <% elsif customer_signed_in? %>
          <div class="p-2 align-self-center btn btn-outline-secondary"><li><%= link_to "About", homes_about_path %></li></div>
          <div class="p-2 align-self-center btn btn-outline-secondary"><li><%= link_to "マイページ", customers_current_customer_path %></li></div>
          <div class="p-2 align-self-center btn btn-outline-secondary"><li><%= link_to "商品一覧", items_path %></li></div>
          <div class="p-2 align-self-center btn btn-outline-secondary"><li><%= link_to "カート", cart_items_path %></li></div>
          <div class="p-2 align-self-center btn btn-outline-secondary"><li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li></div>

         <% else %>
          <div class="p-2 align-self-center btn btn-outline-secondary"><li><%= link_to "About", homes_about_path %></li></div>
          <div class="p-2 align-self-center btn btn-outline-secondary"><li><%= link_to "新規登録", new_customer_registration_path %></li></div>
          <div class="p-2 align-self-center btn btn-outline-secondary"><li><%= link_to "ログイン", new_customer_session_path %></li></div>
         <% end %>
         </div>
       </div>

    </header>

    <%= yield %>
  </body>
</html>
